@font-face {
    font-family: 'gilroy-lightuploaded_file';
    src: url('../fonts/gilroy-light-webfont.woff') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-mediumuploaded_file';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-semibolduploaded_file';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pp_telegrafultrabold';
    src: url('../fonts/pptelegraf-ultrabold-webfont.woff2') format('woff2'),
         url('../fonts/pptelegraf-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}