/*-- 1. VARIABLES --*/

:root {
    --title-font: 'gilroy-lightuploaded_file';
    --theme-font: 'gilroy-mediumuploaded_file';
    --theme-color: #F3CB48;
    --light-bg: #3D414D;
    --color-white: #ffffff;
    --color-black: #000000;
    --green-color: #269900;
    --color-gray: #333436;
}