@charset "UTF-8";

/* ===================== Table Content Start ======================= 

Project Name 	:  Emirates
File 			:  CSS Base
Version 		:  1.0.0
Created     	:  08/04/2025
Author 			:  Pentagon Information Technology

======================== Table Content End ===================== */

@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'breakpoints';
@import 'reset';
@import 'header';
@import 'footer';
@import 'atropos';
@import 'style';